#pictures don't belong on github
*.png 
*.jpg
*.dng
*.pth
*.jpeg
*.jpeg*
*.mp4
#Data files are too large
*.npy
*.zip
*.pyc
#ignore virtual environemnts
labkernel/
env/
*.html
#ignore checkpoints 
.ipynb_checkpoints/

#ignoring directories that I don't want to publish to this repo
pytorch_tutorials/

