#pictures don't belong on github
*.png 
*.jpg
*.dng
#ignore virtual environemnts
labkernel/
env/
*.html
#ignore checkpoints 
.ipynb_checkpoints/

#ignoring directories that I don't want to publish to this repo
pytorch_tutorials/
